* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 1rem;
}

body>button {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: #404040;
    margin: 1rem 3rem;
    align-self: flex-end;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    color: whitesmoke;
    transition: all 400ms;
}

body>button:hover {
    background-color: #ccc;
    color: #404040;
}

.form-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.form {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.494);
    border-radius: .5rem;
    padding: 1.5rem;
    max-width: 400px;
    position: relative;
    padding-top: 2rem;
}

.form .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
}

.form .close-btn:hover {
    color: red;
    cursor: pointer;
}

.form label {
    width: 100%;
    margin-block: .5rem;
    /* padding: .5rem; */
}

.form input,
.form textarea {
    width: 100%;
    padding: .5rem;
    margin-bottom: 10px;
    border-radius: .5rem;
    border: 1px solid grey;
    outline: none;
}

.img-area {
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100px;
    /* overflow: hidden; */
}

.img {
    height: 80px;
    width: auto;
}

.timeline {
    max-width: 90dvw;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    overflow-x: auto;
    /* justify-content: center; */
    gap: 5px;
}

.timeline::-webkit-scrollbar {
    background-color: #404040;
}

.timeline ::-webkit-scrollbar-button {
    background-color: #ccc;
}

.timeline::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.event:nth-child(odd)>.hr {
    height: 200px;
}

.event-img-container{
    width: 80px;
    height: 60px;
    margin-bottom: 1.5rem;
}
.event-img{
    width: 100%;
    object-fit: contain;
}

.year {
    box-shadow: 0 0 10px black;
    border-radius: .5rem;
    padding: .5rem;
    width: 200px;
    text-align: center;
    font-size: 1.25rem;
    position: relative;
}

.edit-btn,
.remove-btn {
    position: absolute;
    top: 10%;
    cursor: pointer;
}

.edit-btn {
    right: 20%;
    display: none;
}

.event:hover .edit-btn {
    display: inline-block;
}

.edit-btn:hover {
    color: rgb(39, 214, 253);
}

.remove-btn {
    right: 5%;
    display: none;
}

.event:hover .remove-btn {
    display: inline-block;
}

.remove-btn:hover {
    color: red;
}

.hr {
    height: 50px;
    width: 4px;
    background-color: black;
}

.border {
    box-shadow: 0 0 10px black;
    border-radius: .5rem;
    padding: .5rem;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.border::-webkit-scrollbar {
    background-color: #404040;
    width: 5px;
}

.border ::-webkit-scrollbar-button {
    background-color: #ccc;
}

.border::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.details, .title {
    word-break: break-all;
    width: 100%;
}

@media (max-width: 800px) {
    .timeline{
        flex-direction: column;
        gap: 20px;
    }
    .event{
        flex-direction: row;
        max-width: 90dvw;
    }
    .event-img{
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .year{
        width: 100px;
    }
    .hr{
        height: 4px;
        width: 100px;
    }
    .event:nth-child(odd)>.hr {
        height: 4px;
        width: 300px;
    }

}
.modal-container {
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.514);
    display: grid;
    place-items: center;
    position: fixed;
    display: none;
}

.modal {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: .5rem;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.489);
}
.modal-btns button{
    padding: .75rem 2rem;
    background-color: #ccc;
    border: 1px solid grey;
    border-radius: .25rem;
    cursor: pointer;
}

.modal-btns button.yes:active{
    background-color: rgb(28, 106, 216);
}
.modal-btns button.no:active{
    background-color: red;
}
